<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <title>The Scraper</title>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- jQuery link -->
    <script src="jquery-3.3.1.min.js"></script>

</head>

<body>

    {{{body}}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>